<h3 style="text-align: center;">{{title}}</h3><br>
<nav class="col-md-10 mx-auto bg-dark p-2 row">


  <a class="nav-item nav-link text-white" routerLink="homepage"><span style="font-size: 20px"></span>Home</a>
  <div class="dropdown">
    <button class="dropbtn">Admin
    </button>
    <div class="dropdown-content">
      <a class="nav-item nav-link text-white" routerLink="adminlogin">Login</a>
      <a class="nav-item nav-link text-white" routerLink="viewuser">View Users</a>
      <a class="nav-item nav-link text-white" routerLink="adminlogin" (click)="setAdminId()">Logout</a>
    </div>
  </div>
  <a class="nav-item nav-link text-white" routerLink="addmoney"><span style="font-size: 20px"></span>Add Money</a>
  <a class="nav-item nav-link text-white" routerLink="transferfund"><span style="font-size:20px"></span>Transfer
    Fund</a>
  <a class="nav-item nav-link text-white" routerLink="showbalance"><span style="font-size:20px"></span>Show Balance</a>
  <a class="nav-item nav-link text-white" routerLink="homepage" (click)="setUserId()"><span
      style="font-size:20px"></span>Logout</a>

</nav>
<div></div>
<router-outlet></router-outlet>